site_name: ISAE STRAAT - APV
theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
    
  site_author: 'ISAE Straat - Hoge Raad'
  logo: https://cdn.discordapp.com/icons/1118530001176907838/387ee8bd98a8e5e101324653b26330be.webp?size=512
  favicon: https://cdn.discordapp.com/icons/1118530001176907838/387ee8bd98a8e5e101324653b26330be.webp?size=512

  language: nl 
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    # - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - header.autohide
    # - toc.integrate
    - navigation.indexes


plugins:
  - blog
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
 

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@isaenl
    - icon: fontawesome/brands/discord
      link: https://www.discord.gg/isaestraat
  favicon: assets/favicon.ico
  logo: "assets/logo.png"  # Replace with the path to your logo file

plugins:
  - search:
      lang: nl


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - toc:
      permalink: true
      title: Inhoudsopgave
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg



copyright: |
  Copyright &copy;  2023 <a href="https://www.discord.gg/isaestraat"  target="_blank" rel="noopener">ISAE Straat</a>

nav:
  - Homepagina: index.md
  - Algemene Plaatselijke Verordening: APV.md
  - Wetboek van Strafrecht: WVS.md
  - Wetboek van Strafvordering: WSV.md

  - Wet Wapens en Munitie: WWM.md
  - Opiumwet: OW.md
  - Algemene Douanewet (Adw): AD.md
  - Verkeersregelgeving: 
    - Wegenverkeerswet 1994: Verkeersregelgeving\Wegenverkeerswet 1994.md
    - Wet Mulder: Verkeersregelgeving/Wet Mulder.md
    - RVV 1990: Verkeersregelgeving/RVV 1990.md
    - Reglement rijbewijzen: Verkeersregelgeving/Reglement rijbewijzen.md
    - Reglement voertuigen: Verkeersregelgeving/Reglement voertuigen.md
    - Regeling maatregelen rijvaardigheid en geschiktheid 2011: Verkeersregelgeving/Regeling maatregelen rijvaardigheid en geschiktheid 2011.md
    - Besluit voertuigen: Verkeersregelgeving/Besluit voertuigen.md
